[submodule "github"]
	path = github
	url = https://github.com/juancampa/membrane-driver-github.git
[submodule "hn"]
	path = hn
	url = https://github.com/juancampa/membrane-driver-hn.git
[submodule "google-docs"]
	path = google-docs
	url = https://github.com/juancampa/membrane-driver-google-docs.git
[submodule "google-calendar"]
	path = google-calendar
	url = https://github.com/juancampa/membrane-driver-google-calendar.git
[submodule "notion"]
	path = notion
	url = https://github.com/juancampa/membrane-driver-notion.git
[submodule "vercel"]
	path = vercel
	url = https://github.com/juancampa/membrane-driver-vercel.git
[submodule "twitter"]
	path = twitter
	url = https://github.com/juancampa/membrane-driver-twitter.git
[submodule "user"]
	path = user
	url = https://github.com/juancampa/membrane-user-program.git
[submodule "http"]
	path = http
	url = https://github.com/juancampa/membrane-http-program.git
[submodule "drawer"]
	path = drawer
	url = https://github.com/juancampa/membrane-drawer-program.git
[submodule "slack"]
	path = slack
	url = https://github.com/juancampa/membrane-driver-slack.git
[submodule "todo"]
	path = todo
	url = https://github.com/aranajhonny/todo.git
[submodule "airtable"]
	path = airtable
	url = https://github.com/juancampa/membrane-driver-airtable.git
[submodule "openai"]
	path = openai
	url = https://github.com/aranajhonny/membrane-driver-openai.git
[submodule "slack-bot"]
	path = slack-bot
	url = https://github.com/aranajhonny/slack-bot.git
[submodule "sms"]
	path = sms
	url = https://github.com/juancampa/membrane-sms-program
[submodule "discord"]
	path = discord
	url = https://github.com/aranajhonny/membrane-driver-discord.git
